.dog-container {
  position: relative;
  width: 1000px; /* 適切な幅に変更 */
  height: 500px; /* 適切な高さに変更 */
  left: 100px;
}

.dog-part {
  position: absolute;
}

.back-left-leg {
  top: 370px;
  left: 750px;
}

.back-right-leg {
  top: 420px;
  left: 670px;
}

.front-left-leg {
  top: 370px;
  left: 530px;
}

.front-right-leg {
  top: 330px;
  left: 450px;
}

.tail {
  top: 260px;
  left: 800px;
}

.head-face {
  top: 205px;
  left: 510px;
}

.head-eye {
  top: 215px;
  left: 575px;
}

.body {
  top: 300px;
  left: 535px;
}

.ear {
  top: 220px;
  left: 630px;
}

.ear-right{
  top: 193px;
  left: 553px;
}

.jaw {
  top: 275px;
  left: 540px;
}